article{
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    padding: 20px 0;
    margin-bottom: 20px;
}

.tarjeta{
    width: 250px;
    height: 250px;
    padding: 12px;
    background-color: rgb(255, 209, 124);
    border: 3px dashed grey;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}
.tarjeta:hover{
    box-shadow: 15px 15px 50px #8b8b8b;
}

.oferta{
    background-color: rgb(250, 152, 152);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: -10px;
}

.oferta::after{
    content: " USD";
}